/* يا مستر الكود للنجمه يعمل علي الصفحه كلها عشان الناف بار */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FAF8F5;
    color: #7A685D;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    background-color:#FFFDF9;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2C1810;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    
}

.nav-links a {
    text-decoration: none;
    color: #5cf305;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #180601;
    cursor: pointer;
}

.dashboard-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1.5rem;
    border: #0f172a;
}

.room-section {
    margin-bottom: 3rem;
    padding-top: 1rem;
}

.room-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 1.25rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}


.card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
    border: 1px solid #ffffff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 160px;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border: 1px solid #d89191;
}

.card-header {
    font-size: 1.1rem;
    font-weight: 600;
    color: #334155;
    margin-bottom: 0.75rem;
}

.card-value {
    font-size: 1.75rem;
    font-weight: 700;
    color: #0f172a;
}


.status-btn {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.9rem;
    width: fit-content;
    margin-top: 0.5rem;
}

.status-off {
    background-color: #f70404;
    color: #ffffff;
}

.status-on {
    background-color: #22c55e;
    color: #ffffff;
}
